.header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 100px;
    font-size: 80px;
    color: #9336B4;
    text-shadow: 2px 2px 4px #000000;

}