<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="login.css">
</head>
<body>
    <h2 class="heading">Log In</h2>
    <div class="form-head">
    <form action="/login" method="post" class="formsub">
    <input type="text" name="email" placeholder="Email">
    <br />
    <br /><input type="text" name="password" placeholder="Password">
    <br />
    <br />
    <button type="submit">Submit</button>
  
     </form>
   <br />
  <a href="/signup">Create a new account</a>
  </div>
</body>
</html>